<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simulación de Tienda</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body style="background-color: #212529; color: #fff">
    <div class="container mt-5" style="background-color: #1b1d22; color: #fff; padding: 20px;">
      <h1 class="text-center">Modelo de colas</h1>

      <button
        id="iniciarSimulacion"
        class="btn btn-primary btn-lg btn-block"
        onclick="iniciarSimulacion()"
      >
        Iniciar Simulación
      </button>

      <div
        id="resultados"
        class="mt-4"
        style="background-color: #1b1d22; color: #fff"
      ></div>
    </div>

    <script>

    </script>
  </body>
</html>
