
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simulación de Tienda</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Modelo de colas</h1>

      <button
        id="iniciarSimulacion"
        class="btn btn-primary btn-lg btn-block"
        onclick="iniciarSimulacion()"
      >
        Iniciar Simulación
      </button>

      <div id="resultados" class="mt-4"></div>
    </div>

    <script>
      function iniciarSimulacion() {
        fetch("/simular")
          .then((response) => response.text())
          .then((data) => {
            alert("Simulación completada");
            obtenerMetricas();
          })
          .catch((error) => console.error("Error:", error));
      }

      function obtenerMetricas() {
        fetch("/metricas")
          .then((response) => response.json())
          .then((data) => {
            mostrarResultados(data);
          })
          .catch((error) => console.error("Error:", error));
      }

      function mostrarResultados(metricas) {
        const resultadosDiv = document.getElementById("resultados");
        resultadosDiv.innerHTML = `
                <h2 class="mt-4">Métricas de la simulación:</h2>
                <p class="lead">Tiempo promedio de espera de los clientes: ${metricas.tiempo_promedio_espera.toFixed(
                  2
                )} minutos</p>
                <p class="lead">Longitud promedio de la cola: ${metricas.longitud_promedio_cola.toFixed(
                  2
                )}</p>
                <p class="lead">Tiempo máximo de espera: ${metricas.tiempo_maximo_espera.toFixed(
                  2
                )} minutos</p>
                
                <h2 class="mt-4">Detalle de Clientes Atendidos:</h2>
                <ul id="detalleClientes" class="list-group"></ul>
            `;

        const detalleClientesUl = document.getElementById("detalleClientes");
        for (const element of metricas.detalles_clientes) {
          const detalleCliente = element;
          const li = document.createElement("li");
          li.className = "list-group-item";
          li.innerHTML = `
                    Cliente atendido en el minuto ${detalleCliente.tiempo_atencion.toFixed(
                      2
                    )}. 
                    Tiempo de espera: ${detalleCliente.tiempo_espera.toFixed(
                      2
                    )} minutos
                `;
          detalleClientesUl.appendChild(li);
        }
      }
    </script>
  </body>
</html>
