<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Métodos Cuantitativos</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
   <div class="container">
       <h1 class="my-4">Métodos Cuantitativos</h1>
       <h2 class="my-4">Simulación de Sistemas de Colas</h2>
       <h2 class="my-4">Integrantes</h2>
       <ul class="list-unstyled">
           <li>José Daniel Vergara</li>
           <li>Mauricio Viloria</li>
           <li>Sebastián Salazar</li>
           <li>Fernando Rodríguez</li>
       </ul>
   </div>
</body>
</html>