
.container {
    max-width: 800px;
    margin: 30px auto;
}

#iniciarSimulacion {
    margin-top: 20px;
}

#resultados {
    margin-top: 20px;
}

.list-group-item {
    border: none;
    color: rgb(12, 12, 12);
}
